# The Standard Normal Distribution - Lab

## Introduction

In the previous lesson, you learned about the formula of the z-score, and looked at a few toy examples to explain an observation's standard score for normally distributed data. In this lab, you'll practice by standardizing and visualize some normal distributions.

## Objectives

You will be able to:

* Calculate and interpret z-scores for observations
* Visualize the data before and after standardization to visually inspect the results 

## Let's get started

> A z-score can help identify how many standard deviations above or below the mean a certain observation is. Every time you obtain a z-score, use “above” or “below” in your phrasing.

The yields of apples trees in an orchard has been recorded in the file `yield.csv`. Each observation is recorded by weighing apples from trees (in pounds) and adding their weights. There are 5000 observations in total for this data. 

## Load, visualize and give general comments on the dataset

Use pandas for loading and inspecting the data.

In [3]:
# Import libraries
import pandas as pd
import numpy as np
# Read the yield data as a dataframe
df = pd.read_csv('yield.csv')

df.head(10)

           0
0  39.741234
1  39.872055
2  44.331164
3  46.600623
4  40.694984
5  40.969819
6  48.981105
7  43.240146
8  46.301977
9  45.380994

In [10]:
import seaborn as sns

sns.distplot(df)

/opt/conda/envs/learn-env/lib/python3.6/site-packages/scipy/stats/stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval

In [3]:
# Your comments about the data here

## Briefly explain what each value represents in this data set**

In [4]:
# Your answer here

## Define the interval bounds where such that the range contains 99% of the observations   

> **Hint**: Recall the empirical rule related to $3\sigma$.

In [ ]:
# Perform any calculations necessary here
df.mean()
np.std(df)

In [ ]:
# Write your answer here

## Compute and interpret the z-score for a tree yielding 35 pounds of apples

In [ ]:
# Calculate z

In [8]:
# Interpret the result

## Suppose a tree has a z-score of 1.85. Interpret this z-score. What is the yield of this tree?

In [9]:
# Interpret the z score

In [ ]:
# Calculate yield

In [11]:
# What is the yield ?

##  Convert each tree’s yield to a z-score so the new variable is the “z-score for weight”

The units are still the apple trees. For the data set of all z-scores:

* What is the shape? 
* The mean? 
* The standard deviation?

In [ ]:
# Give your solution here 
z_data = [(x - df['0'].mean())/df['0'].std() for x in df['0']]
sns.distplot(z_data)
mean = np.mean(np.array(z_data))
sd = np.std((np.array(z_data)))
print ('Mean:', round(mean,2))
print ('SD:', round(sd,2))

In [5]:
# Your observations
df.head()

           0
0  39.741234
1  39.872055
2  44.331164
3  46.600623
4  40.694984

## Summary

In this lab, you practiced your knowledge on the standard normal distribution!